/* Header Button Animation */
.navi-button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e65c00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navi-button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Project Hover */
.length-tech-hover {
  position: relative;
  background-color: rgba(36, 43, 72, 0.9);
  top: -400px;
}
.flip-it-hover {
  position: relative;
  background-color: rgb(37, 30, 66, 0.9);
  top: -400px;
}
.tech-a-hover {
  position: relative;
  background-color: rgb(1, 1, 1, 0.9);
  top: -400px;
}

.hover-text-box{
  display: grid;
  place-content: center;
}
.hover-text-box label{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: #FFFFFF; 
}
.hover-text-box p{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin: 0px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 35px;
}
.hover-text-box button{
  background-color: transparent;
  border: 2px solid white;
  color: #FFFFFF;
  border-radius: 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  height: 50px;
  width: 250px;
  margin: auto;
}

/* Circle Background Animation */
.experience-logo{
  height: 200px;
  min-width: 200px;
  border-radius: 50%;
  background-color: #e65c00;
}


.underline-holder{
  display: flex;
  justify-content: center;
}
#underline{
  width: 150px;
    height: 5px;
    background: #e65c00;
    display: flex;
}

/* Hover */
.link-button:hover i{
  color: black;
}